In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
df=pd.read_csv('insurance.csv')
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [29]:
df['region'].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [18]:
from sklearn.model_selection import train_test_split

In [21]:
x_train,x_test,y_train,y_test=train_test_split(df.drop(columns=['charges']),df['charges'],train_size=0.9)

In [22]:
x_train

      age     sex     bmi  children smoker     region
1160   43  female  34.580         1     no  northwest
615    47  female  36.630         1    yes  southeast
642    61    male  33.915         0     no  northeast
120    44    male  37.100         2     no  southwest
859    57    male  28.100         0     no  southwest
...   ...     ...     ...       ...    ...        ...
517    45    male  30.495         2     no  northwest
508    24  female  25.270         0     no  northeast
545    49    male  25.840         2    yes  northwest
70     27  female  24.750         0    yes  southeast
1095   18  female  31.350         4     no  northeast

[1204 rows x 6 columns]

In [23]:
x_test

      age     sex     bmi  children smoker     region
35     19    male  20.425         0     no  northwest
932    46    male  25.800         5     no  southwest
812    54    male  21.010         2     no  southeast
690    21    male  27.360         0     no  northeast
1322   62    male  38.830         0     no  southeast
...   ...     ...     ...       ...    ...        ...
218    26  female  29.920         1     no  southeast
505    37    male  30.875         3     no  northwest
1297   28  female  26.510         2     no  southeast
821    26    male  17.670         0     no  northwest
601    51    male  31.635         0     no  northwest

[134 rows x 6 columns]

In [24]:
y_train

1160     7727.25320
615     42969.85270
642     13143.86485
120      7740.33700
859     10965.44600
           ...
517      8413.46305
508      3044.21330
545     23807.24060
70      16577.77950
1095     4561.18850
Name: charges, Length: 1204, dtype: float64

In [25]:
y_test

35       1625.43375
932     10096.97000
812     11013.71190
690      2104.11340
1322    12981.34570
           ...
218      3392.97680
505      6796.86325
1297     4340.44090
821      2680.94930
601      9174.13565
Name: charges, Length: 134, dtype: float64

In [8]:
df['sex'].unique()

array(['female', 'male'], dtype=object)

# Applying Column Transformer

In [15]:
from sklearn.preprocessing import OneHotEncoder

In [13]:
from sklearn.compose import ColumnTransformer

In [17]:
transformer=ColumnTransformer(transformers=[
    ('trf1', OneHotEncoder(drop='first',sparse_output=False),['sex','smoker','region'])
],remainder='passthrough')

In [66]:
x_train_transformed=transformer.fit_transform(x_train)
x_test_transformed=transformer.transform(x_test)
x_train_transformed

array([[ 0.   ,  0.   ,  1.   , ..., 43.   , 34.58 ,  1.   ],
       [ 0.   ,  1.   ,  0.   , ..., 47.   , 36.63 ,  1.   ],
       [ 1.   ,  0.   ,  0.   , ..., 61.   , 33.915,  0.   ],
       ...,
       [ 1.   ,  1.   ,  1.   , ..., 49.   , 25.84 ,  2.   ],
       [ 0.   ,  1.   ,  0.   , ..., 27.   , 24.75 ,  0.   ],
       [ 0.   ,  0.   ,  0.   , ..., 18.   , 31.35 ,  4.   ]])

In [27]:
x_train.shape

(1204, 6)

In [28]:
x_train_transformed.shape

(1204, 8)

In [30]:
from sklearn.linear_model import LinearRegression

In [31]:
model=LinearRegression()

In [32]:
model.fit(x_train_transformed,y_train)

LinearRegression()

In [67]:
y_pred=model.predict(x_test_transformed)
y_pred

array([ -411.93807563, 10160.55777129,  8870.71627078,  2775.19503091,
       15890.79381339,  3516.47933316,  8719.47852329, 24065.57626105,
         739.80772489,  5628.32814627,  7098.65041839,  5852.88987409,
        8492.55741548, 12232.15076735, 16255.8512964 , 10481.00152044,
       10587.9023331 , 12580.27794389,  7709.90531405, 11448.72669824,
        8540.11630046,   782.30522201, 14676.17222774, 33645.64751824,
       28327.00520379, 35332.45929155, 14597.77160426, 11474.73175773,
        8323.69615974, 10600.71222166,  7399.00462096,  2051.10038044,
       13834.21069211, 11900.63718257, 11971.07604415, 10950.07756002,
        4974.61322087, 35576.41020885, 33789.58377149,  2953.71729142,
        4365.59184641,  3613.9717653 ,  2463.40262325, 11246.24611331,
        9842.94560244,  8535.09942874, 11634.8036206 , 35751.41533332,
        7382.02267273,  4631.7963684 ,  6156.70146212, 15321.35480681,
       12235.23278765, 37292.34467755,  5662.85364051, 10939.16678905,
        5258.77406016,  9172.72745252, 26140.72524337,  4259.92024155,
       10857.4826038 ,  2428.51373142,  9209.517918  , 13331.37590461,
       30437.96957065,  4008.48152588, 12874.84552101,  8547.96949482,
       15503.95377742,  -471.0462693 , 37231.47738387,  8710.06084933,
       11695.54354844,  1778.22268329,  3686.84009583, 11292.68945914,
       14661.73215492,  5261.21462701,  5483.12476019, 34674.94965345,
        4752.72561865,  9217.33006944,  8089.19735904, 23038.66122453,
       31632.81929483,  8943.62704693, 12930.82877057,  6272.14302552,
       14179.84348053, 11925.24133591, 28932.43315139, 29125.44712546,
       18111.38816733,  9881.52412331, 33966.52976047,  7502.55394547,
       17062.86699882, 16837.97433668,  3903.8069096 ,  5003.23925425,
        8398.95782153,  9440.96520865, 28140.06992607, 11757.73434819,
        9413.22432947,  5899.4668315 , 10439.10214283,  4266.41166389,
       15425.48246613,  8575.98561676,  3994.78310579, 32646.4865662 ,
       11347.5815562 ,  4860.07252429,  8670.35388484,  2213.44447746,
       34811.03198537,  1225.4770778 , 39240.72818323,  5404.26673879,
       10104.05970714,  7518.29573104,  1208.52893336, 14131.96827523,
       35845.07908298,  9321.63718233, 15416.04254362,  9138.34348439,
       30219.46762266,  4364.99005939,  9359.14019749,  4247.81426084,
         384.75448405, 11435.87413756])

In [75]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)

In [76]:
score

0.8065134780765052

# Taking input From User and Predicting on the model

In [39]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [40]:
x_test

      age     sex     bmi  children smoker     region
35     19    male  20.425         0     no  northwest
932    46    male  25.800         5     no  southwest
812    54    male  21.010         2     no  southeast
690    21    male  27.360         0     no  northeast
1322   62    male  38.830         0     no  southeast
...   ...     ...     ...       ...    ...        ...
218    26  female  29.920         1     no  southeast
505    37    male  30.875         3     no  northwest
1297   28  female  26.510         2     no  southeast
821    26    male  17.670         0     no  northwest
601    51    male  31.635         0     no  northwest

[134 rows x 6 columns]

In [50]:
y_test

35       1625.43375
932     10096.97000
812     11013.71190
690      2104.11340
1322    12981.34570
           ...
218      3392.97680
505      6796.86325
1297     4340.44090
821      2680.94930
601      9174.13565
Name: charges, Length: 134, dtype: float64

In [71]:
age=int(input('Enter your age='))
sex=input('Enter your Sex \'male\' or \'female\'=')
bmi=float(input('Enter your BMI='))
children=int(input('Enter number of childrens='))
smoker=input('Are you smoker? \'yes\' or \'no\'' )
region=input('Enter your region=\'southwest\', \'southeast\', \'northwest\', \'northeast\'')

Enter your age= 51
Enter your Sex 'male' or 'female'= male
Enter your BMI= 31.635
Enter number of childrens= 0
Are you smoker? 'yes' or 'no' no
Enter your region='southwest', 'southeast', 'northwest', 'northeast' northwest

In [72]:
new_input=pd.DataFrame(
    [
        {
            'age': age,
            'sex': sex,
            'bmi' : bmi, 
            'children': children,
            'smoker': smoker,
            'region': region
        }
    ]
)

In [73]:
new_input

   age   sex     bmi  children smoker     region
0   51  male  31.635         0     no  northwest

In [74]:
new_input_transformed=transformer.transform(new_input)
prediction=model.predict(new_input_transformed)

print('Predicted Value of Insurance Price is =',prediction)

Predicted Value of Insurance Price is = [11435.87413756]