In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
df=pd.read_csv('insurance.csv')
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [29]:
df['region'].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [18]:
from sklearn.model_selection import train_test_split

In [21]:
x_train,x_test,y_train,y_test=train_test_split(df.drop(columns=['charges']),df['charges'],train_size=0.9)

In [22]:
x_train

      age     sex     bmi  children smoker     region
1160   43  female  34.580         1     no  northwest
615    47  female  36.630         1    yes  southeast
642    61    male  33.915         0     no  northeast
120    44    male  37.100         2     no  southwest
859    57    male  28.100         0     no  southwest
...   ...     ...     ...       ...    ...        ...
517    45    male  30.495         2     no  northwest
508    24  female  25.270         0     no  northeast
545    49    male  25.840         2    yes  northwest
70     27  female  24.750         0    yes  southeast
1095   18  female  31.350         4     no  northeast

[1204 rows x 6 columns]

In [23]:
x_test

      age     sex     bmi  children smoker     region
35     19    male  20.425         0     no  northwest
932    46    male  25.800         5     no  southwest
812    54    male  21.010         2     no  southeast
690    21    male  27.360         0     no  northeast
1322   62    male  38.830         0     no  southeast
...   ...     ...     ...       ...    ...        ...
218    26  female  29.920         1     no  southeast
505    37    male  30.875         3     no  northwest
1297   28  female  26.510         2     no  southeast
821    26    male  17.670         0     no  northwest
601    51    male  31.635         0     no  northwest

[134 rows x 6 columns]

In [24]:
y_train

1160     7727.25320
615     42969.85270
642     13143.86485
120      7740.33700
859     10965.44600
           ...
517      8413.46305
508      3044.21330
545     23807.24060
70      16577.77950
1095     4561.18850
Name: charges, Length: 1204, dtype: float64

In [25]:
y_test

35       1625.43375
932     10096.97000
812     11013.71190
690      2104.11340
1322    12981.34570
           ...
218      3392.97680
505      6796.86325
1297     4340.44090
821      2680.94930
601      9174.13565
Name: charges, Length: 134, dtype: float64

In [8]:
df['sex'].unique()

array(['female', 'male'], dtype=object)

# Applying Column Transformer

In [15]:
from sklearn.preprocessing import OneHotEncoder

In [13]:
from sklearn.compose import ColumnTransformer

In [17]:
transformer=ColumnTransformer(transformers=[
    ('trf1', OneHotEncoder(drop='first',sparse_output=False),['sex','smoker','region'])
],remainder='passthrough')

In [26]:
x_train_transformed=transformer.fit_transform(x_train)
x_test_transformed=transformer.fit(x_test)
x_train_transformed

array([[ 0.   ,  0.   ,  1.   , ..., 43.   , 34.58 ,  1.   ],
       [ 0.   ,  1.   ,  0.   , ..., 47.   , 36.63 ,  1.   ],
       [ 1.   ,  0.   ,  0.   , ..., 61.   , 33.915,  0.   ],
       ...,
       [ 1.   ,  1.   ,  1.   , ..., 49.   , 25.84 ,  2.   ],
       [ 0.   ,  1.   ,  0.   , ..., 27.   , 24.75 ,  0.   ],
       [ 0.   ,  0.   ,  0.   , ..., 18.   , 31.35 ,  4.   ]])

In [27]:
x_train.shape

(1204, 6)

In [28]:
x_train_transformed.shape

(1204, 8)